*{
  margin: 0;
  padding: 0;
}

.Navbar{
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 500;
  /* margin: auto; */
  background-color: rgb(5, 184, 160);
}
